body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: aquamarine;
    font-family: 'Times New Roman', Times, serif;
}

.donutContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row: 0.1fr 1fr;
    gap: 20px;
}

.game{
    background-color: chartreuse;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.menu{
    background-color: tomato;
    border-radius: 10px;
    padding: 20px;
}

#donut{
    background-image: url here;
    background-size: cover;
    width: 200px;
    height: 200px;
    border: none;
    cursor: pointer;
    outline: none;
}

#upgradeSelect{
    width: 100%;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 10px;
}

#purchaseButton{
    background-color: aqua;
    color: teal;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
}

#purchaseButton:disabled{
    background-color: coral;
    cursor: not-allowed;
}

.dropdown{
    position: relative;
    display: inline-block;
}

#dropdownButton{
    background-color: aqua;
    color: azure;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

#dropdownList{
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: blueviolet;
    border: 1px solid #ccc;
    padding: 0;
    margin: 0;
    display: none;
}

#dropdownList li{
    padding: 10px 20px;
    cursor: pointer;
}

#dropdownList li:hover{
    background-color: wheat;
    color: yellowgreen;
}

.show{
    display: block;
}